<div class="bs-docs-header">
  <div class="container">
    <h1>JavaScript学习</h1>
    <p>学习中犯过的错、踩过得坑，把它们都记录下来，让自己的成长有迹可循。世上没有白走的路，每一步，都算数。</p>
    </n>
    <p>遇到困难别害怕，当你打败它的之后，你离高手又近了一步！</p>
  </div>
</div>
